body {
    background-color: #F2F3AE;
    max-width: 1500px;    
}

header {
    height: 50px;
}

h1 {
    font-family: 'Syne', sans-serif;
    font-weight: 900;
}

h2 {
    font-family: 'Syne', sans-serif;
    font-weight: 900;    
}

h3 {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    
     
}

.mediumFont {
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}

.generalFont {
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
}

.smallFont {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 0.85rem;
}

/* Fonts
font-family: 'Lato', sans-serif;
    
    */

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #F2F3AE;
    background-color: #F4442E;
    font-weight: 600;
    width: 110px;
    height: 25px;
    text-align: center;
}

.nav-link {
    text-align: center;
    color: #F4442E;
    font-weight: 600;
}

.nav-link:focus, .nav-link:hover {
    color: #F4442E;
}

.redContainer {
    background-color: #F4442E;
    border-radius: 20px;
    padding: 10px;    
}

.yellowText {
    color: #F2F3AE;
}

.yellowButton {
    background-color: #F2F3AE;
    color:#F4442E;
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    border-radius: 20px; 
}

/* Images */
#imgPhone1 {
    width: 270px; 
    margin-top: -200px; 
    margin-left: -80px;
}

#imgPhone2{
    width: 400px;
    margin-top: -470px;
    margin-left: 0px;
}


/* Text Default */
#wrapYellowTextMiddle {
    margin-top: 400px;  
}


/* Sections */
#sectionBlueBg {
    border-radius: 30px;
    margin: 0px 20px;
}


/* Media Queries*/
@media only screen and (max-width: 1500px) {
    #sectionBlueBg {
        border-radius: 30px;
    }
}


@media only screen and (max-width: 768px) {
    #imgPhone1 {
        width: 200px;
    }

    #wrapYellowTextMiddle {
        margin-top: 230px; 
    }

    #imgPhone2{
        width: 300px;
        margin-top: -300px;
    }
    
}

@media only screen and (max-width: 576px) {
    #imgPhone1 {
        width: 140px;
        margin-left: -60px;
        margin-top: -90px; 
    }

    #imgPhone2 {
        width: 220px;
        margin-left: -20px;
        margin-top: -50px;
    }
}